*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
@keyframes animatetop{
    from{
        top:-300px;
        opacity:0
    } to{
        top:0;
        opacity:1
    }
}
.right>div{
    display: none;
}
#header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 1;
}
.nav-home{
    text-decoration: none;
    padding: 15px 24px;
    line-height: 43px;
    color: #777;
}
.nav-about{
    text-decoration: none;
    padding: 10px 24px;
    line-height: 43px;
    color: #777;
}
.nav-portfolio{
    text-decoration: none;
    padding: 10px 24px;
    line-height: 43px;
    color: #777;
}
.nav-contact{
    text-decoration: none;
    padding: 10px 24px;
    line-height: 43px;
    color: #777;
}
a:hover{
    background-color: #ccc;
    color: #000;
}
a>i{
    padding-right: 5px;
}
#home{
    background-image: url(images/parallax1.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.75;
    position: relative;   
}
.my{
    position: absolute;
    top:50%;
    left: 36%;
    transform: translate(-50%, -50%);
    line-height: 1.8;
    color: #fff;
    background-color: #000;
    letter-spacing: 10px;
    padding: 7px 24px;
    font-size: 30px;
}
.website{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    line-height: 1.8;
    color: #fff;
    background-color: #000;
    letter-spacing: 10px;
    padding: 7px 24px;
    font-size: 30px;
}
.logo {
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    line-height: 1.8;
    color: #fff;
    background-color: #000;
    letter-spacing: 10px;
    padding: 7px 24px;
    font-size: 30px;
}
.head{
    text-align: center;
    font-weight: 400;
    color: #777;
    margin: 10px 0;
    padding: 15px 0;
}
.text{
    text-align: center;
    color: #777;
    margin-bottom: 15px;
    font-size: 15px;
}
.paragraph{
    color: #777;
    letter-spacing: 0.75px;
    font-size: 15px;
    line-height: 1.8;
    margin: 15px 0;
}
.right{
    width: 45px;
    line-height: 1.8;
    padding: 8px 16px;
    float: right;
    color: #777;
}
.right:hover{
    background-color: #f44336;
    color: #fff;
}
.left{
    width: 49.99999%;
    float: left;
}
.left>img{
    border-radius: 4px;
    opacity: 0.6;
    
}
.left-name{
    text-align: center;
    color: #777;
    margin: 30px 0;   
}
.shift-left{
    padding-left: 10px;
}
.margin{
    margin-top: 25px;
}
.left>img:hover{
    opacity: 1;
}
.clearfix{
    clear: both;
}
.skills-text{
    font-size: 18px;
    padding-top: 56px;
    padding-bottom: 50px;
}
.skill-txt{
    font-size: 19px;
    letter-spacing: 10px;
    color: #777;
    padding-bottom: 25px;
    padding-top: 25px;
}
.bar-max{
    width: 100%;
    height: 35px;
    background-color: #f1f1f1;
}
.bar-min{
    width: 90%;
    height: 35px;
    background-color: #616161;
    text-align: center;
    color: #fff;
    line-height: 35px;
    animation: bar-min 0.5s linear;
}
@keyframes bar-min{
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    100%{
        width: 90%;
    }
}
.bar-min-{
    width: 85%;
    height: 35px;
    background-color: #616161;
    text-align: center;
    color: #fff;
    line-height: 35px;
    animation: bar-min 0.5s linear;
}
.bar-min--{
    width: 75%;
    height: 35px;
    background-color: #616161;
    text-align: center;
    color: #fff;
    line-height: 35px;
    animation: bar-min 0.5s 0s linear;
}
.content{
    width: 100%;
    height: 135px;
    background-color: #616161;
    color: #fff;
    line-height: 1.8;
    text-align: center;
    font-size: 24px;
    padding: 25px 0;    
}
.p-left{
    width: 24.99999%;
    float: left;
}
.image{
    background-image: url(images/parallax2.jpg);
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.75;
    position: relative;
}
.image>span{
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 36px;
    transform: translate(-50%, -50%);
    color: #fff;
}
.italic{
    font-style: italic;
}
.text-{
    text-align: center;
    color: #777;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}
.p-left>img:hover{
    opacity: 0.75;
}
.img-margin{
    padding-top: 30px;
}
.padding-top{
    padding-top: 15px;
}
.load{
    display: inline-block;
    color: #000;
    background-color: #f1f1f1;
    margin-top: 64px;
    margin-left: 405px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    width: 135px;
    height: 51px;
    border: none;
    padding: 12px 24px;
}
.load:hover{
    background-color: #d9d4db
}
.img-contact{
    background-image: url(images/parallax3.jpg);
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.75;
    position: relative;
}
.contact{
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 10px;
    font-size: 36px;
    transform: translate(-50%, -50%);
    color: #fff;
}
.map{
    opacity: 1;
}
.left-map{
    width: 33.33333%;
    float: left;
}
.left-container{
    width: 66.66667%;
    float: left;
}
.cont{
    color: #777;
    font-size: 19px;
}
.p-cont{
    padding-right: 20px;
}
.cont{
    padding-bottom: 10px;
}
.container{
    padding-top: 15px;
}
.coffee{
    color: #777;
    padding: 15px 0;
}
.name{
    width: 49.99999%;
    float: left;
}
.inp-name{
    padding: 10px;
    display: block;
    width: 95%;
    border: 1px solid #ccc;
}
.inp-email{
    padding: 10px;
    display: block;
    width: 49.99999%;
    border: 1px solid #ccc;
}
.inp-message{
    padding: 10px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.btn{
    color: #fff;
    background-color: #000;
    padding: 14px 16px;
    border: none;
    margin-top: 16px;
    margin-bottom: 160px;
}
.float-right{
    float: right;
}
.mar-r{
    margin-right: 10px;
}
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.top-nav{
    color: #777;
    background-color: #f1f1f1;
    padding: 13px 17px;
    text-decoration: none;
    text-align: center;
    margin-left: 610px;
}
.p-footer{
    padding: 64px 0;
}
.icons{
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 24px;
    margin-left: 590px;
    color: #fff;   
}
.footer{
    background-color: #777;
}
.footer:hover{
    background-color: #000;
}
.footer-p{
    color: #fff;
    margin-left: 600px;
}
.footer-p>a{
    color: #fff;
}
.animate-on-scroll{
    position: relative;
    animation: animatetop 0.4s;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);  
}
.animate-color{
    color: #000;
    background-color: #fff;
}
@media(max-width:750px){
    .website, .nav-about, .nav-portfolio, .nav-contact, .home, .right>i, .text-hide, .margin{
        display: none;
    }
    .p-left{
        width: 20.999999%;
    }
    .nav-home{
        font-size: 20px;
    }
    #home{
        min-height: 500px;
    }
    .my{
        left: 37%;
    }
    .logo{
        left: 60%;
    }
    .right:hover{
        background-color: transparent;
    }
    .right>div{
        display: block;
    }
    .content{
        font-size: 20px;
        text-align: center;
    }
    .skills, .skills-text{
        padding: 20px;
    }
    .content-p{
        margin: 10px 0 0 20px;
        font-size: 19px;
    }
    .hamburger{
        display: block;
        margin:10px -6px;
    }
    .load{
        margin: 30px 0 20px 235px;
    }
    .left-map{
        width: unset;
        float: none;
        display: inline-block;
    }
    .form-submit{
        padding: 10px;
    }
    .left-map img{
        width: 100%;
        height: 400px;
    }
    .left-container{
        width: unset;
        float: none;
        text-align: center;
    }
    .no-float{
        width: unset;
        float: none;
    }
    .no-float img{
        margin-left: 80px;
    }
    .portfolio-about{
        padding: 0;
    }
    #about{
        padding: 15px;
    }
    .left-container button{
        float: none;
    }
    .btn{
        margin-bottom: 60px;
    }
    #wrapper{
        padding: 0;
    }
    .top-nav{
        margin-left: 245px;
    }
    .ham1{
        width: 15px;
        height: 3px;
        background-color: #777;
        margin-bottom: 4px;
    }
    .ham2{
        width: 15px;
        height: 3px;
        background-color: #777;
        margin-bottom: 4px;
    }
    .ham3{
        width: 15px;
        height: 3px;
        background-color: #777;
        margin-bottom: 4px;
    }
    .icons, .footer-p{
        margin: 0 0 0 240px;
        display: inline-block;
    }
}

@media(min-width:750px){
    .my{
        left: 27%;
    }
    .logo{
        left: 74%;
    }
    #wrapper{
        padding: 0;
    }
    .p-left{
        width: 23%;
    }
    #about{
        padding: 20px;
    }
    .text-hide, .margin{
        display: none;
    }
    .no-float{
        margin-left: 170px;
    }
    .content-p{
        margin-left: 10px;
    }
    .load{
        margin: 20px 0 20px 40%;
    }
    .left-container button{
        float: none;
    }
    .btn{
        margin-bottom: 60px;
    }
    .left-map{
        width: unset;
        float: none;
        display: inline-block;
    }
    .paragraph{
        text-align: center;
    }
    .form-submit{
        padding: 10px;
    }
    .left-map img{
        width: 100%;
        height: 400px;
    }
    .left-container{
        width: unset;
        float: none;
        text-align: center;
    }
    .top-nav{
        margin-left: 45%;
    }
    .icons, .footer-p{
        margin: 0 0 0 44%;
        display: inline-block;
    }
}

@media(min-width: 1200px){
    .nav-about, .nav-portfolio, .nav-contact{
        display: inline-block;
        padding: 4px 16px;
        font-size: 17px;
    }
    .nav-home{
        font-size: 20px;
    }
    .right:hover{
        background-color: #f44336;
    }
    .right>i{
        display: block;
    }
    #home{
        min-height: 500px;
    }
    .my{
        left: 35%;
    }
    .website{
        display: block;
    }
    .logo{
        left: 63%;
    }
    .right>div{
        display: none;
    }
    .text-hide, .margin{
        display: block;
    }
    .left-map{
        width: 30%;
        float: left;
        display: inline-block;
    }
    .form-submit{
        padding: 10px;
    }
    .left-map img{
        width: 50%;
        height: 400px;
    }
    .left-container{
        width: 49.99999%;
        float: left;
        text-align: left;
        margin-left: 40px;
    }
    .no-float{
        width: 49.999999%;
        float: left;
    }
    .no-float img, .no-float{
        margin-left: 0;
    }
    #wrapper{
        padding: 90px 200px;
    }
    .paragraph{
        text-align:inherit;
    }
    .p-left{
        margin-right: 10px;
    }
    .ml-20{
        margin-left: 20px;
    }
    .load{
        margin-bottom: 0;
    }
    .map img{
        width: 284px;
        height: 160px;
        border-radius: 10px;
    }
    .form-submit{
        padding: 0;
    }
    .inp-name, .inp-email, .inp-message{
        padding: 12px;
    }
    .left-container button{
        float: right;
    }
}